<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!--   
    namespace：必须与对应的接口全类名一致  
    id:必须与对应接口的某个对应的方法名一致  
      
 -->  
<mapper namespace="com.zyc.business.user.dao.IUserDao">

	<resultMap type="com.zyc.business.user.model.UserPo"
		id="resultUserPo">
		<result column="login_id" property="loginId" />
		<result column="user_name" property="userName" />
		<result column="sex" property="sex" />
		<result column="age" property="age" />
		<result column="telphone" property="telphone" />
		<result column="email" property="email" />
	</resultMap>

	<sql id="whereSQL">
		<if test="userName !=null and userName !='' ">
        	and user_name=#{userName},
        </if>
        <if test="loginId !=null and loginId !='' ">
        	and login_id=#{loginId}
        </if>
	</sql>  
      
    <!-- 保存用户信息 -->
    <insert id="save" parameterType="com.zyc.business.user.model.UserPo">  
        insert into sys_user(login_id,user_name,telphone,email) values(#{loginId},#{userName},#{telphone},#{email})  
    </insert>  
      
    <!-- 更新用户信息 -->
    <update id="update" parameterType="com.zyc.business.user.model.UserPo" >  
        update sys_user set 
        <if test="userName !=null and userName !='' ">
        	user_name=#{userName},
        </if>
        <if test="resetPassword !=null and resetPassword !='' ">
        	password=#{password},
        </if>
        <if test="telphone !=null and telphone !='' ">
        	telphone=#{telphone} 
        </if>
        <if test="email !=null and email !='' ">
        	email=#{email} 
        </if>
        where login_id=#{loginId}  
    </update>  
      
    <!-- 删除用户信息 -->
    <delete id="delete" parameterType="com.zyc.business.user.model.UserPo" >  
        delete from sys_user where login_id=#{loginId}  
    </delete>  
      
     <!-- 根据登录账号查询用户信息 -->   
    <select id="selectById" parameterType="java.lang.String" resultType="com.zyc.business.user.model.UserPo">  
        select login_id loginId,user_name userName,telphone,email from sys_user where login_id=#{id}  
    </select>  
      
    <!-- 分页查询所有用户信息 -->
    <select id="getUsersByPage" parameterType="com.zyc.business.user.model.UserPo" resultMap="resultUserPo" >  
        select login_id ,user_name,sex,age,telphone,email from sys_user where 1=1 
		<include refid="whereSQL"/>
		limit #{startRowNum},#{endRowNum}
    </select>
    
    <!-- 分页查询所有记录数 -->
    <select id="getUsersCount" parameterType="com.zyc.business.user.model.UserPo" resultType="java.lang.Integer">  
        select count(*) from sys_user where 1=1 
        <include refid="whereSQL"/>
    </select>  
      
</mapper>  