<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.zyc.business.login.dao.ILoginDao">  

    <select id="findByLoginId" parameterType="java.util.Map" resultType="com.zyc.business.user.model.UserPo">  
        select user_name userName,age  from sys_user where login_id=#{loginId} and password=#{password} 
    </select>  
      
</mapper> 